# Created by venv; see https://docs.python.org/3/library/venv.html

# Entorno virtual
venv/

# Cachés de Python
__pycache__/
*.pyc

# Variables de entorno
.env

# Configuración de editores
.vscode/
.idea/
